# Environments
.env
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Google API Credentials & State
credentials/

# Temp folder
.tmp/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/

# Testing and Caching
.pytest_cache/
.mypy_cache/
.ruff_cache/
